@font-face {
    font-family: "RobotoSlab";
    src: url("../Roboto_Slab/RobotoSlab-Regular.ttf")
}
@font-face {
    font-family: "WorkSans";
    src: url("../Work_Sans/WorkSans-Bold.ttf")
}

@font-face {
    font-family: "Manjari";
    src: url("../fonts/Manjari/Manjari-Regular.ttf")
}